APP_PORT=3000
JWT_SECRET=SECRET_KEY
SOCKET_MAX_LISTENERS=100

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_NAME=mydb
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# Readonly

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}?schema=public